@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

#decoracao{
    float: right;
}

#decoracao{
    margin-top: -5rem;
}

/* ------------------------------------------------------------------------------------------------------------------------------------ */
/* Configuração do select  */                                       
/* ------------------------------------------------------------------------------------------------------------------------------------ */

.options{
    border: 1px black solid;
    width: 17rem;
    height: 4rem;
}

.options{
    appearance: none; 
    -webkit-appearance: none;
    -moz-appearance: none; 
    background: url('../../assets/Bulletin/selectInput.png') no-repeat right;
    background-position: right 1.5rem center;
    background-size: 1.5rem 1rem 1.5rem 2rem;
    padding-right: 2rem;
    padding-left: 1rem;
    border: 1px solid #000000;
    font-size: 1em;
    font-family: 'Open Sans';
    font-weight: 600;
}

.options:focus {
    outline: none;
    border-color: #777;
}

table{
    border: 1px solid #000000;
    width: 90vw;

    margin-top: 4rem;
}

table input{
    width: 100%;
    border: none;
    outline: none;
    height: 100%;
}

.boletim-tabela thead{
   background: rgba(239.06, 147.02, 8.96, 0.81);
   color: #fff;
   width: 100%; 

   text-align: center; 
   font-size: 1.3em; 
   font-family: 'Open Sans'; 
   font-weight: 800;
}

.tabela-par {
    background-color: #fff; 
}

.tabela-impar {
    background-color: #D9D9D9;
}

.tabela-impar input {
    background-color: #D9D9D9; /* Cor para inputs da linha ímpar */
}

.tabela-par input:disabled {
    background-color: #cac9c9; 
    color: #999; 
}

.tabela-impar input:disabled {
    background-color: #9c9999; 
    color: #999; 
}

th, td {
    padding: 8px;
    text-align: center;

}

tbody td{
    padding: 1rem;
}



th:first-child {
    width: 20%; /* Aluno */
}

th:nth-child(2), 
th:nth-child(3) {
    width: 10%; /* AV1 e AV2 */
}

th:nth-child(4), 
th:nth-child(5),
th:nth-child(6) {
    width: 15%; /* Menção, NOA e Situação Final */
}


/* titulo boletim  */

.titleBoletim{
    display: flex;
    margin-left: 4rem;
    margin-top: 8rem;
    margin-bottom: 2rem;
}

.titleBoletim img{
    margin-right: 1rem;
    width: 2rem;
}

.titleBoletim h1{
    color: black;
    font-size: 36px;
    font-family: Open Sans;
    font-weight: 800;
}

/* Mudar aba */
.selectButton {
    display: flex; 
    position: relative;
    margin-left: 4rem;
    width: 40%; 
}

.selectButton button {
    background: none;
    border: none;
    color: #ccc;
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px 10px;
    cursor: pointer;
    position: relative;
    flex-grow: 1; 
    margin-right: 3rem;
}

.selectButton button.active {
    color: #C6B8F5; 
}

.underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    background-color: #bdbdbd;
    width: 44rem; /* Use toda a largura */
}

.underline div {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    background-color: #7e5ee7;
    width: calc(40rem / 3); /* Dividido igualmente entre os 3 semestres */
    transform: translateX(0); /* Posição inicial */
    transition: transform 0.3s ease; /* Animação suave */
}

.content{
    margin-left: 4rem;
    margin-top: 4rem;
}

.content h2{
 font-size: 24px;
 font-family: 'Open Sans';
 font-weight: 800;
 margin-bottom: 1rem;
}

.containerLeg{
    display: flex;
}


#buttonBoletim{
    margin-left: 10rem;
}

#footerBoletim{
    margin-top: 4rem;
}

.select{
    display: flex;
    flex-direction: row;
}

.Disciplina-select{
    margin-right: 5rem;
}